/** An horizontal wrap box */
.h-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
}

/** An horizontal wrap box element */
.h-wrap > div {
    flex: 1;
    min-width: 360px;
}

/* Red border */
hr {
    border-color: #00000022;
    border-style: solid;
    border-width: 1px 0 0 0;
}