{{ define "main" }}
<main id="main">
    <div>
        <h1>Kustom HQ</h1>
        <p>404: sorry, but the page you were trying to view does not exist.</p>
        <br/>   
        <h3>Similar results:</h3>
        <div id="search-results">
            <!-- Search results will be inserted here -->
        </div>
        {{ $search := resources.Get "js/404_search.js" | resources.ExecuteAsTemplate "404_search.js" . | minify | fingerprint }}
        <script src="{{ $search.RelPermalink }}"></script>
    </div>
</main>
{{ end }}