{{ if (findRE "<pre" .Content 1) }}
    {{ $jsCopy := resources.Get "js/copy_code.js" | minify }}
    <script src="{{ $jsCopy.RelPermalink }}"></script>
{{ end }}
<br/>
<hr/>
<br/>
<div>
    <a href="/about/privacy_policy">Privacy Policy</a>
</div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-964XMQSYQ6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-964XMQSYQ6');
</script>
