{{ $path := .Get 0 }}
<div class="series">
    <ul>
        {{ range $ind,$art := $.Site.Pages.ByDate }}
            {{ with $art.File }}
                {{ if in .Path $path }}
                    {{ if not $art.IsSection }}
                        <li>
                            {{ if eq $art.Permalink $.Page.Permalink}}
                                {{ $art.Params.title }}
                            {{ else }}
                                <a href="{{ $art.Permalink }}">{{ $art.Params.title }}</a>
                            {{ end }}
                        </li>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</div>
