<div class="themes" style="display: none">
    <div class="owl-carousel">
        {{ $rtop := resources.Get "js/reddit_carousel.js" | resources.ExecuteAsTemplate "reddit_carousel.js" . | minify | fingerprint }}
        <script src="{{ $rtop.RelPermalink }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </div>
</div>